.header {
  display: flex;
  height: 50px;
  align-items: center;
  padding: 10px;

  > div {
    width: 50%;
  }

  .left {}

  .right {
    text-align: right;

    .button {
      margin-left: 8px;
    }
  }
}